[anonid="tab"] {
	width: 110px;
	height: 20px;
}

[anonid="tablabel"] {
	max-width: 250px;
	height: 35px;
	text-align: center;
	background-image: none;
	background: transparent;
}

[anonid="tabinnerbox"] {
	height: 35px;
	min-width: 75px;
	border-radius:6px 6px 0px 0px;
	border-top-style:solid;
	border-right-style:solid;
	border-left-style:solid;
	border-bottom-style:none;
	border-width: 2px;
	border-color: rgb(109,109,109);
	background-image: url('chrome://MonacoIDE/skin/default/editor/bg_normal1.png');
	background-repeat: repeat-x;
	padding:8px 5px;
}

[anonid="tabinnerbox"]:hover {
	background-image: url('chrome://MonacoIDE/skin/default/editor/bg_hover.png');
	background-repeat: repeat-x;
}

[anonid="toolbarbutton"] {
	-moz-appearance:none;
	border: none;
	width: 12px;
	height: 12px;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('chrome://MonacoIDE/skin/default/editor/Close.png');
}

[anonid="toolbarbutton"]:hover {
	background-image:url('chrome://MonacoIDE/skin/default/editor/Close_forcus.png');
}

