
#toolbtn_new {
	list-style-image: url('new_doc.png');
}

#toolbtn_open {
	list-style-image: url('folder.png');
}

#toolbtn_save {
	list-style-image: url('save.png');
}

#toolbtn_save_all {
	list-style-image: url('save_all.png');
}

#toolbtn_run {
	list-style-image: url('play.png');
}